<%= form_with model: category do |form| %>
<div>
  <%= form.label :name %>
  <%= form.text_field :name %>

  <% category.errors.full_messages_for(:name).each do |message|%>
  <span>
  <%= message%>
  </span>
  <%end%>
</div>

<div>
  <%= form.label :description %>
  <%= form.text_area :description %>
  <% category.errors.full_messages_for(:description).each do |message|%>
  <span>
  <%= message%>
  </span>
  <%end%>
</div>

<div>
  <%= form.label :cover %>
  <%= form.file_field :cover, accept: 'image/png,image/jpeg'%>
  <% category.errors.full_messages_for(:cover).each do |message|%>
  <span>
  <%= message%>
  </span>
  <%end%>
</div>

  
  <div>
  <%= form.submit %>
  </div>
<% end %>