<h1>Categories</h1>

<%@categories.each do |category|%>
<div>
<div>
  <%= image_tag category.cover%>
</div>
  <span>
    <%= category.name%>
  </span>
  <span>
    <%= category.photos_count%>
  </span>
  <span>
    <%# category.description  %>
  </span>

  <%= link_to "show", category_path(category)%>
  <%= link_to "edit", edit_category_path(category)%>
  <%= link_to "destroy", category_path(category), data: {
    turbo_method: :delete,
    turbo_confirm: "Are you Sure?"}%>
</div>
<%end%>
